.signinDiv{
    background-color: hsl(210, 8%, 95%);
    margin: 0%;
}
.mainsigninDiv{
    padding: 0%;
}
.paraSignin{
    font-weight: 350;
}
.SigninBoxDiv{
    width: 35%;
    margin: 20%;
    margin-top: 3%;
    margin-bottom: 0%;
}
.signinForm{
    border-radius: 4%;
    width: 150%;
}
.signinForm input{
    border: 1px solid gainsboro;
    height: 35px;
}
.labelFont{
    font-size: medium;
    font-weight: 500;
}
.logsignwidth{
    width: 90%;
}
.loginLink{
    width: 100%;
    margin-top: 5%;
    margin-left: 17%;
    padding-bottom: 0%;
}
.signinLogo{
    margin: 46%;
    margin-top: 2%;
    margin-bottom: 0%;
}
@media (min-width: 600px) and (max-width: 830px){
    .SigninBoxDiv{
        width: 50%;
        margin: 30%;
        margin-top: 3%;
        margin-bottom: 0%;
    }
}